header {
    height: 79px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background-color: rgb(20, 20, 20);
}

.innerheader {
    height: 49.1px;
    width: 1453px;
    position: relative;
    display: flex;
    align-items: center;
}

.background1 {
    height: 734px;
    width: 100%;
    background-image: url(./Images/Background/IN-en-20220912-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
}

#selectlanguage {
    right: 0;
    position: absolute;
    height: 35px;
    width: 85px;
    background-color: transparent;
    border-color: white;
    color: white;
    margin-right: 120px;
    border-radius: 3px;
}

.loginbutt {
    height: 35px;
    width: 85px;
    background-color: red;
    color: white;
    position: absolute;
    right: 0;
    border: 0;
    margin-right: 10px;
    border-radius: 3px;
}

.introsection {
    height: 344px;
    width: 950px;
    margin-left: 312.59px;
    margin-right: 312.59px;
    margin-top: 240px;
    display: flex;
    flex-direction: column;

}

.introhead {
    width: 800px;
    height: 140.7px;
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin: 0 auto;
}

.anytimeanywhere {
    width: 800px;
    margin: 0 auto;
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.formsection {
    height: 124.683px;
    width: 100%;
}

.emailformtitle {
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 19.2px;
    font-weight: 400;
    color: white;
    text-align: center;
    width: 714.392px;
    margin: 0 auto;

}

.emailinput {
    width: 478px;
    height: 58px;
    margin-top: 0px;
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16.2px;
    font-weight: 400;
    padding-left: 10px;
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    border: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.getstartedbuttonwithemail {
    height: 60px;
    width: 260px;
    margin-top: 20px;
    position: absolute;
    margin-left: 590px;
    border: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    background-color: red;
    color: white;
    cursor: pointer;
}

.enjoytvsection {
    height: 466px;
    width: 100%;
    margin-top: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.enjoytextsec {
    width: 547.5px;
    height: 179.7px;
    margin-right: 40px;
}

.enjoyheader {
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-top: 0;
}

.enjoydiscription {
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: white;
}

.enjoyimgwithanimation {
    background-image: url(./Images/tv.png);
    height: 397px;
    width: 530px;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.enjoyvideo{
    width: 387px;
    height: 217px;
    margin-top: 83px;
    margin-left: 70px;
    z-index: 0;
    position: absolute;
}


.downloadsection {
    height: 466px;
    width: 100%;
    margin-top: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.downloadimgwithanimation {
    width: 505px;
    height: 379px;
    background-image: url(./Images/mobile-0819.jpg);
    background-size: cover;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}
.downloaddemo{
    width: 327px;
    height: 100px;
    margin-top: 250px;
    border: 2px solid;
    border-color: rgb(48, 48, 48);
    border-radius: 12px;
    background-color: black;
    display: flex;
}

.moviecoverpic{
    margin-left: 12px;
    margin-top: 8px;
    width: fit-content;
    height: fit-content;
    margin-right: 16px;
}
.downloaddemotexts{
    height: 38px;
    width: 182px;
    margin-top: 31px;
}

.downloaddemotexts1{
    height: 19px;
    width: 100%;
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.downloaddemotexts2{
    height: 19px;
    width: 100%;
    color: rgb(0, 113, 235);
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14.4px;
    font-weight: 400;
    padding-top: 2px;
}
.downloadanimation{
    height: 60px;
    width: 48px;
    margin-top: 22px;
    background-image: url(./Images/download-icon.gif);
    background-size: cover;
    background-position: center;
}

.downloadtextsec {
    width: 547px;
    height: 201px;
}

.watchanywheresection {
    width: 100%;
    height: 535px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watchanywheretextsec {
    height: 147px;
    width: 547px;
}

.watchanywhereimgwithanimation {
    height: 416.5px;
    width: 555.5px;
    background-image: url(./Images/device-pile-in.png);
    background-size: cover;
    margin-left: 40px;
}

.childrenprofilesection {
    width: 100%;
    height: 523px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.childrenimage {
    height: 379px;
    width: 505px;
    background-image: url(./Images/AAAABYjXrxZKtrzxQRVQNn2aIByoomnlbXmJ-uBy7du8a5Si3xqIsgerTlwJZG1vMpqer2kvcILy0UJQnjfRUQ5cEr7gQlYqXfxUg7bz.png);
    background-size: cover;
    margin-right: 40px;
}

.childrentextsec {
    height: 234.7px;
    width: 547px;
}

.FAQsection {
    height: 930.5px;
    width: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.innerFAQ {
    height: 790.2px;
    width: 1475.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FAQheader {
    height: 55px;
    width: 100%;
}

.FAQheadertext {
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-top: 0;
    text-align: center;
}

.FAQbuttons {
    width: 815px;
    height: 75.5px;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 5px;
    padding-right: 20px;
}

.formsection1 {
    height: 124.683px;
    width: 950px;
    margin-top: 90px;
}

footer {
    height: 467px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.innerfooter {
    width: 901px;
    height: 294px;
    margin-top: 120px;
    position: relative;
}
.questions{
    height: 20.5px;
    width: 100%;
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color:rgb(115, 115, 115);
    margin-bottom: 30px;
}
.otherfooteroptions{
    height: 16.5px;
    width: 100%;
    font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color:rgb(115, 115, 115);
}
.otherfooteroptions{
    margin-top: 15px;
    display: flex;
}
.otherfooteropttext{
    cursor: pointer;
}
.otherfooteroptsub{
    height: 100%;
    width: 25%;
}
.languagechangebottom{
    height: 53.1px;
    width: 100%;
    margin-top: 35px;
}
#languageselectbottom{
    height: 100%;
    width: 132.311px;
    background-color: black;
    color: rgb(115, 115, 115);
}
.lastone{
    position: absolute;
    bottom: 0;
}